.header-wrapper
    header.main-header.content-center
        .logo 
            a(href="") 
                img(src="./public/images/logo.svg", alt="")
            .title OFFERTA RISERVATA AI TRADER Ukraine
        +Button('Crea un account', 'is-border')