mixin StartItem(title, text,number)
    .start-item 
        h2=title 
        p=text
        .number
            span=number
            img.big(src="./public/images/number.png", alt="")
            img.small(src="./public/images/number2.png", alt="")
